In [1]:
# Import Dependencies
import numpy as np
import pandas as pd 
import matplotlib as mp 
%matplotlib inline
import seaborn as sns

In [2]:
training_df=pd.read_csv('Loan Data/training_loan_data.csv')

In [3]:
pd.get_dummies(training_df,columns=["Self_Employed","Gender","Married","Education","Loan_Status"],drop_first=True)

,Loan_ID,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Self_Employed_Yes,Gender_Male,Married_Yes,Education_Not Graduate,Loan_Status_Y
0,LP001002,0,5849,0.0,NaN,360.0,1.0,Urban,0,1,0,0,1
1,LP001003,1,4583,1508.0,128.0,360.0,1.0,Rural,0,1,1,0,0
2,LP001005,0,3000,0.0,66.0,360.0,1.0,Urban,1,1,1,0,1
3,LP001006,0,2583,2358.0,120.0,360.0,1.0,Urban,0,1,1,1,1
4,LP001008,0,6000,0.0,141.0,360.0,1.0,Urban,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,0,2900,0.0,71.0,360.0,1.0,Rural,0,0,0,0,1
610,LP002979,3+,4106,0.0,40.0,180.0,1.0,Rural,0,1,1,0,1
611,LP002983,1,8072,240.0,253.0,360.0,1.0,Urban,0,1,1,0,1
612,LP002984,2,7583,0.0,187.0,360.0,1.0,Urban,0,1,1,0,1
613,LP002990,0,4583,0.0,133.0,360.0,0.0,Semiurban,1,0,0,0,0